<template>
  <q-page class="row">
  </q-page>
</template>

<script lang="ts">

import { Vue, Component } from 'vue-property-decorator';

@Component
export default class IndexPage extends Vue {
}
</script>
