<template>
  <q-list>
    <q-item>Allowed Rulesets:</q-item>
    <q-item>
      <q-list>
        <q-item v-for="book in allowedRulesets" :key="book.id">
          <q-checkbox
            :label="book.name"
            v-model="book.selected"
            :readonly="book.forced"
          />
        </q-item>
      </q-list>
    </q-item>
  </q-list>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class OptionsComponent extends Vue {
  allowedRulesets = [];

  async mounted() {
    const x = await this.axios.get("http://localhost:8080/Lanastara/pathfinder2-database/-/raw/master/contentSets.json")
    debugger
    console.log(x)
  }
}
</script>

<style></style>
